<html>
<head>
  <title>Jelpy</title>
</head>
  <body>
    <div class="container-fluid">
        <h1> New Restaurant </h1>

        <%= render 'form'%><br>

        <%= link_to 'Back', restaurants_path %>
    </div>
  </body>
</html>
